a{
    text-decoration: none;
}
a:visited, a:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.main-wrapper {
    background-color: #3647ac;
    min-height: 400vh;
}

.main-containers{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    min-height: 81vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.footer{
    box-sizing: border-box;
    height: 8vh;
    width: 100%;

    margin-top: calc(1vh + 15px);
    padding-left: 2vw;
    padding-right: 2vw;
}

.header{

    box-sizing: border-box;
    width: 100%;
    padding: 1vh 2vw;
    height: 10vh;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-family: Segoe UI;
}

.chat
{
    position: relative;
    background-color: white;
    width: calc(74.5vw - 75vh);
    float: left; 
    margin-left: 1vw; 
    height: 81vh; 
    border-radius: 10px;
    padding: 10px 15px;
}

.field{
    background-color: white; 
    width: 75vh; 
    float: left; 
    margin-left: 1vw; 
    height: 81vh; 
    border-radius: 10px; 
    padding: 1vh; 
    font-size: 3vh; 
    font-family: Segoe UI;

    min-width: 400px;
    min-height: 435px;
}

.letter{
    float: left; 
    width: 6.1vh; 
    height: 6.1vh; 
    color: #3b3b3b; 
    text-align: center;
    vertical-align: middle;
    line-height: 6.1vh;
    font-weight: 500;

    min-width: 33px;
    min-width: 33px;
}

.rating{
    background-color: white;
    flex: 1;
    max-width: 350px;

    float: left; 
    height: 81vh; 
    border-radius: 10px;
    padding: 10px 15px;
}



.inputName {
    font-size: 20px;
    background-color: #3647ac;
    border: none;
    visibility: visible;
    font-family: Segoe UI;
    outline: none;
    cursor: pointer;
    margin-left: 6px;
}

.input:visited { color: #FFFFFF; text-decoration: none; }  
.input:hover { color: #FFFFFF; text-decoration: none;}

.board{
    width: 75vh;
    float: left;  
    height: 75vh;
    user-select: none;
}

.score{
    width: 100%; 
    float: left;  
    height: 6vh; 
    color: #bcbcbc;
    user-select: none;
}

.score-component{
    height: calc(5vh - 2px);
    font-size: 3vh;
}

.score-caption{
    float: left;
    margin-left: 22px;
}

.score-number{
    float: right; 
    margin-right: 22px;
}

.underline{
    background-color: #e9e9e9; 
    height: 2px;
}

body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background: #3647ac;
    overflow: hidden;
}

.logo{
	height: 50px;
}

.hello{
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Segoe UI;
}

.share-button{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	
	height: 40px;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 0 10px 0 6px;

    overflow: hidden;
    color: #fff;
}

.big-icon {
    height: 25px;
	width: 25px;
    margin-right: 5px;
    background: url(twitter.svg);
}

.share-button:hover{
    background-color: #fff;
    text-decoration: none;
    color: #3647ac;
}

.share-button:hover > .big-icon{
    background: url(twitter-2.svg);
}

.share-text{
	color: #fff;
	font-size: 18px;
	font-family: Segoe UI;
	vertical-align: middle;
    white-space: nowrap;
}
.dx{
    float: left;

	color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-family: Segoe UI;
}

.icons-wrapper{
	float: right;
}
.small-icon{
	width: 30px;
	height: 30px;
}

::selection{
	background: #FF7400;
}

::-moz-selection {
	background: #FF7400;
}

.ratingTop{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    color: #bcbcbc;
    height: 5vh;
    font-size: 3vh;
    padding: 0 0 5px 15px;

    border-bottom: 2px solid #e9e9e9;

    margin-bottom: 15px;
    font-family: Segoe UI;
}
.ratingTitle{
    flex: 1;
}

.participants{
    overflow: auto;
    max-height: calc(73vh - 15px);
}

.participant{
    box-sizing: border-box;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    height: 70px;
    width: 100%;

    font-size: 18px;
    color: #0008;
    font-family: Segoe UI;
}
.participant > *{
    box-sizing: border-box;
}
.participants > :nth-child(1){
    border-radius: 10px 10px 0 0;
}
.participants > :nth-child(3){
    border-radius: 0 0 10px 10px;
}
.place{
    padding: 10px;
    user-select: none;
    width: 40px;
    text-align: center;
}
.avatar{
    
    background: rgba(200, 200, 200, 0.7);
    height: 50px;
    width: 50px;
    min-width: 50px;

    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;

    border-radius: 50%;
    overflow: hidden;

    user-select: none;

}
.userName{
    flex: 1;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userScore{
    padding: 10px;
    min-width: 30px;
}

.topUser{
    background: #fff9e8;
}

.participant.me{
    background: #ffdc80;
    font-weight: bold;
    border-radius: 10px;
}
.fixedoverlay{
    background: #0008;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.congratulations{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    height: 450px;
    border-radius: 20px;

    background: #fff;
    z-index: 110;

    overflow: hidden;
}
.congratulations-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    height: 370px;
}

.congratulations-title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.reward{
    width: 120px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.congratulations p{
    font-size: 18px;
    font-weight: bold;
    max-width: 90%;
    text-align: center;
    margin: 0 0 20px;
}

.congratulations-share-wrapper{
    background: rgb(54, 71, 172);
    position: relative;

    width: 100%;
    height: 80px;
    
    color: #fff;
    font-size: 20px;
}
.congratulations-share{
    display: block;
    text-decoration: none;
    color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.congratulations-share:hover{
    color: #fff;
    text-decoration: none;
}

.congratulations-share-twitter{
    height: 30px;
    margin-right: 10px;
}


.chatTitle {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    color: #bcbcbc;
    height: 5vh;
    font-size: 3vh;
    padding: 0 0 5px 15px;

    border-bottom: 2px solid #e9e9e9;

    margin-bottom: 15px;
    font-family: Segoe UI;
}

::placeholder {
    color: #b0b0b0;
}

.messages {
    overflow: auto;
    max-height: calc(100% - 115px);
}

::-webkit-scrollbar { 
    display: none; 
}

.enteryField {
    position: absolute;
    height: 50px;
    width: calc(100% - 30px);
    border-top: 2px solid #e9e9e9;
    bottom: 10px;
}

.inputMessage {
    font-size: 20px;
    border: none;
    visibility: visible;
    font-family: Segoe UI;
    outline: none;
    background-color: #fff;
    color: #b0b0b0;
    height: 50px;
    width: calc(100% - 30px);
    outline: none;
}

.send {
    box-sizing: border-box;
    width: 30px;
    cursor: pointer;
}

@media screen and (min-height: 901px) { /* large */
    @media screen and (max-width: 1370px) {
        .chat{
            display: none;
        }
    }
    @media screen and (max-width: 1000px) {
        .rating{
            display: none;
        }
    }
}

@media screen and (max-height: 900px) and (min-height: 601px) { /* middle */
    @media screen and (max-width: 1050px) {
        .chat{
            display: none;
        }
    }
    @media screen and (max-width: 800px) {
        .rating{
            display: none;
        }
    }
}

@media screen and (max-height: 600px) { /* small */
    @media screen and (max-width: 800px) {
        .chat{
            display: none;
        }
    }
    @media screen and (max-width: 670px) {
        .rating{
            display: none;
        }
    }
}


.chatMessage {
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 15px;
    overflow: auto;
    font-family: Segoe UI;
}

.chatName{
    font-size: 18px;
    color: #777;
}

.chatText{
    border-radius: 0 10px 10px 10px;
    background: #eee;
    padding: 10px;
    padding-bottom: 25px;

    font-size: 15px;

    position: relative;
}

.chatTime{
    font-size: 12px;
    color: #0005;

    padding: 5px 10px;
    font-weight: bold;

    position: absolute;
    right: 0;
    bottom: 0;
}

.myMessage{
    margin-left: 10%;
}
.myMessage .chatText{
    background: #d6def3;
    border-radius: 10px 10px 0 10px;
}

.myMessage .chatTime{
    right: auto;
    left: 0;
}
.myMessage .chatName{
    text-align: right;
    color: #737cbc;
}

.start-button {
    background: rgb(54, 71, 172);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 25px;

    width: 100%;
    height: 80px;
    
    color: #fff;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.logo-2{
    margin-top: 10px;
	height: 35px;
}
.welcome{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    height: 450px;
    border-radius: 20px;

    background: #fff;
    z-index: 110;

    overflow: hidden;
}

.welcome-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    height: 370px;
}

.welcome-title{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.welcome p{
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    text-align: center;
}

.input-username {
    height: 60px;
    width: 85%;
    margin-top: 40px;
    background-color: #fff;
    padding-left: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}

.close {
    width: 20px;
    height: 20px;
    position: relative;
    left: 44%;
    top: -7%;
    background: url(Close.svg);
}