a{
    text-decoration: none;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.main-wrapper {
    background-color: #3647ac;
    min-height: 100vh;
}

.main-containers{
    min-height: 81vh;
}

.chat
{
    background-color: white;
    width: calc(74.5vw - 75vh);
    float: left; 
    margin-left: 1vw; 
    height: 81vh; 
    border-radius: 10px;
}

.field{
    background-color: white; 
    width: 75vh; 
    float: left; 
    margin-left: 1vw; 
    height: 81vh; 
    border-radius: 10px; 
    padding: 1vh; 
    font-size: 28px; 
    font-family: "Calibri";
}

.footer{
    height: 8vh;
    margin-top: 1vw;
    margin-left: 1.5vw;
    margin-right: 1.7vw;
    width: calc(100% - 3.2vw);
}

.header{
    box-sizing: border-box;
    margin-left: 1.5vw;
    margin-right: 2vw;
    width: calc(100% - 3.5vw);

    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding: 30px 0 10px 0;
    font-family: Calibri;
}

input {
    font-size: 20px;
    background-color: #3647ac;
    border: none;
    visibility: visible;
}

.input:visited { color: #FFFFFF; text-decoration: none; }  
.input:hover { color: #FFFFFF; text-decoration: none; }

.board{
    /*position: relative;*/
    width: 75vh;
    float: left;  
    height: 75vh;
    user-select: none;
}

.letter{
    float: left; 
    width: 6.1vh; 
    height: 6.1vh; 
    color: #3b3b3b; 
    text-align: center;
    vertical-align: middle;
    line-height: 6.1vh;
    font-weight: 500;
}

.score{
    width: 100%; 
    float: left;  
    height: 6vh; 
    color: #bcbcbc;
    user-select: none;
}

.score-component{
    height: 5vh;
}

.score-caption{
    float: left;
    margin-left: 22px;
}

.score-number{
    float: right; 
    margin-right: 22px;
}

.underline{
    background-color: #e9e9e9; 
    height: 2px;
}

body{
    background: #3647ac;
    overflow: hidden;
}

.logo{
	height: 50px;
}

.hello{
    flex: 1;
}

.share-button{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	
	height: 40px;
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 0 10px 0 6px;

	overflow: hidden;

	transition: 0.3s ease-out;
	
	transition-delay: 0.3s;
}

.big-icon{
	height: 25px;
	width: 25px;
	margin-right: 5px;
}

.share-text{
	color: #fff;
	font-size: 18px;
	font-family: sans-serif;
	vertical-align: middle;
	white-space: nowrap;
}
.dx{
	float: left;

	color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-family: "Calibri";

	padding-right: 40px;
}

.icons-wrapper{
	float: right;
}
.small-icon{
	width: 30px;
	height: 30px;
}

::selection{
	background: #FF7400;
}

::-moz-selection {
	background: #FF7400;
}

.rating{
    background-color: white; 
    width: 20vw; 
    min-width: 300px;
    float: left; 
    margin-left: 1.5vw; 
    height: 81vh; 
    border-radius: 10px;
    padding: 10px 15px;

    overflow: hidden;
}
.ratingTop{
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 50px;
    color: #bcbcbc;
    font-size: 25px;
    padding: 5px 0 5px 15px;

    border-bottom: 2px solid #e9e9e9;

    margin-bottom: 15px;
}
.ratingTitle{
    flex: 1;
}

.participant{
    box-sizing: border-box;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    height: 70px;
    width: 100%;


    font-size: 18px;
    color: #0008;
    
    overflow: hidden;
}
.participant > *{
    box-sizing: border-box;
}
.rating > :nth-child(2){
    border-radius: 10px 10px 0 0;
}
.rating > :nth-child(4){
    border-radius: 0 0 10px 10px;
}
.place{
    padding: 10px;
    user-select: none;
}
.avatar{
    
    background: rgba(200, 200, 200, 0.7);
    height: 50px;
    width: 50px;

    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;

    border-radius: 50%;
    overflow: hidden;

    user-select: none;

}
.userName{
    flex: 1;
    padding: 10px;
}
.userScore{
    padding: 10px;
}

.topUser{
    background: #fff9e8;
}

.participant.me{
    background: #ffdc80;
    font-weight: bold;
    border-radius: 10px;
}
.fixedoverlay{
    display: none;
    background: #0008;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.congratulations{
    display: none;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 450px;
    border-radius: 20px;

    background: #fff;
    z-index: 110;

    overflow: hidden;
}
.congratulations-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    height: 370px;
}

.congratulations-title{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

.reward{
    width: 120px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.congratulations p{
    font-size: 18px;
    font-weight: bold;
    max-width: 75%;
    text-align: center;
}

.congratulations-share-wrapper{
    background: rgb(54, 71, 172);
    position: relative;

    width: 100%;
    height: 80px;
    
    color: #fff;
    font-size: 20px;
}
.congratulations-share{
    display: block;
    text-decoration: none;
    color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.congratulations-share:hover{
    color: #fff;
    text-decoration: none;
}

.congratulations-share-twitter{
    height: 30px;
    margin-right: 10px;
}